@font-face {
    font-family: "remilia";
    src: url("/fonts/remilia.ttf") format("truetype");
}

@font-face {
    font-family: "surgena";
    src: url("/fonts/surgena.ttf") format("truetype");
    font-weight: lighter;
}

.main {
    padding: 20% 12%;
    padding-bottom: 0;
}

.backGround {
    width: 120vw;
    height: 100vh;
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
}

.addPadding {
    z-index: 1;
    position: relative;
    padding: 0 20%;
}

.about {
    padding: 30px;
    font-family: "remilia";
    /* opacity: 0;
    transform: translateY(300px);
    animation: fadeInSlideUp 1s ease-out forwards; */
}

.about h1 {
    font-size: 4.2rem;
    /* opacity: 0; */
    /* animation: textFadeInUp 0.8s ease-out forwards;
    animation-delay: 0.3s; */
}

.about h3 {
    font-size: 3rem;
    /* opacity: 0; */
    /* animation: textFadeInUp 0.8s ease-out forwards;
    animation-delay: 0.6s; */
}

.about p {
    font-size: 20px;
    text-align: start;
    width: 70%;
    font-family: "surgena";
    /* opacity: 0;
    animation: textFadeInUp 0.8s ease-out forwards;
    animation-delay: 0.9s; */
}

/* Keyframes for the container animation */
/* @keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* Keyframes for the text animation */
/* @keyframes textFadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */