@font-face {
    font-family: "remilia";
    src: url("/fonts/remilia.ttf") format("truetype");
}

@font-face {
    font-family: "surgena";
    src: url("/fonts/surgena.ttf") format("truetype");
    font-weight: lighter;
}

.main {
    padding-top: 15%;
    padding-bottom: 0;
}

.backGround {
    width: 120vw;
    height: 100vh;
    z-index: -999;
    position: fixed;
    top: 0;
    left: 0;
}

.addPadding {
    z-index: 1;
    position: relative;
    padding: 0 20%;
}

.about {
    margin: 10% 12% 10%;
    padding: 30px;
    font-family: "remilia";
    margin-bottom: 20vhpx;
    /* opacity: 0;
    transform: translateY(300px);
    animation: fadeInSlideUp 1s ease-out forwards; */
}

.about h1 {
    font-size: 4.2rem;
    /* opacity: 0; */
    /* animation: textFadeInUp 0.8s ease-out forwards;
    animation-delay: 0.3s; */
}

.about h3 {
    font-size: 3rem;
    /* opacity: 0; */
    /* animation: textFadeInUp 0.8s ease-out forwards;
    animation-delay: 0.6s; */
}

.about p {
    font-size: 20px;
    text-align: start;
    width: 70%;
    font-family: "surgena";
    /* opacity: 0;
    animation: textFadeInUp 0.8s ease-out forwards;
    animation-delay: 0.9s; */
}

/* Keyframes for the container animation */
/* @keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* Keyframes for the text animation */
/* @keyframes textFadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

.expertise {
    padding: 0 13%;
    /* background: linear-gradient(145deg,#0b2435,black, black,#001918, #001918); */
    background: conic-gradient(
        /* from 0deg at 55.50000000000001% -5.6000000000000005%, */ 
        /* 50% and -5 % transform the cone center to upward 50% and to left -5% */
        from 0deg at 50% -5.6%,
        #002624 64.8deg,
        black 180.4deg,
        rgb(0, 0, 0) 244.8deg,
        rgb(54, 171, 255) 352.8deg
    );
    margin-top: 20px;
    padding-top: 3rem;
    padding-bottom: 25%;
    height: fit-content;
    z-index: -10;
}

.expertise h1 {
    font-size: 5rem;
    text-align: center;
}

.expertContain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 1;
}

.expertContain > div {
    margin-top: 2rem;
    border: 3px solid white;
    padding: 30px;
}

.expertContain div  h2 {
    font-size: 26px;
    font-family: 'surgena';
}

.expertContain div h3 {
    font-size: 16px;
}

.expertContain > div > div {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
}

.expertContain > div > div > img {
    width: 3rem;
    display: inline;
}

.expertContain > img {
    position: absolute;
    top: 123%;
    left: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    z-index: -1; 
    background-color: black;
    padding: 30px;
}